@tailwind base;
@tailwind components;
@tailwind utilities;

.search{
  position: relative;
  display: flex;
}

.search input{
  padding: 0.5rem;
  border-radius: 10px;
  width: 80%;
  margin-left: 1%;
}
.search button{
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
}
