.navbar{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  font-size: larger;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.search input{
  padding: 0.5rem;
  border-radius: 10px;
  width: 50%;
  margin-left: 1%;
}
.search button{
  padding: 0.5rem;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
